In [1]:
import pandas as pd

filePath = "./resource/holding.csv"

In [2]:
df = pd.read_csv(filePath)
df

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
32878713,3157350,2021/11/30,428,2021/12/21,0.11,25000.0,2.229475e+04,Bausch Health Companies Inc 5% 30-JAN-2028,071734AH
32878714,3157350,2021/11/30,429,2021/12/21,0.11,25000.0,2.148050e+04,Bausch Health Companies Inc 5.25% 30-JAN-2030,071734AJ
32878715,3157350,2021/11/30,429,2021/12/21,0.11,25000.0,2.148400e+04,Bausch Health Companies Inc 5% 15-FEB-2029,071734AM
32878716,3157350,2021/11/30,431,2021/12/21,0.10,25000.0,1.918738e+04,Endo DAC 6% 30-JUN-2028,29273DAC
32878717,3157350,2021/11/30,432,2021/12/21,0.08,25000.0,1.497188e+04,PBF Holding Company LLC 6% 15-FEB-2028,69318FAJ

In [3]:
df.head()

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10

In [4]:
df.head(10)

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
5,2998623,2020/11/30,6,2021/01/08,1.64,866386.0,1.997713e+08,GOLDMAN SACHS GROUP INC,38141G10
6,2998623,2020/11/30,7,2021/01/08,1.63,2194727.0,1.976352e+08,C S X CORP,12640810
7,2998623,2020/11/30,8,2021/01/08,1.60,5045923.0,1.939653e+08,AMERICAN INTERNATIONAL GROUP INC,02687478
8,2998623,2020/11/30,9,2021/01/08,1.59,1403360.0,1.937619e+08,P N C FINANCIAL SERVICES GRP INC,69347510
9,2998623,2020/11/30,10,2021/01/08,1.54,3065766.0,1.874409e+08,C B R E GROUP INC,12504L10

In [5]:
df.tail()

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
32878713,3157350,2021/11/30,428,2021/12/21,0.11,25000.0,22294.75,Bausch Health Companies Inc 5% 30-JAN-2028,071734AH
32878714,3157350,2021/11/30,429,2021/12/21,0.11,25000.0,21480.50,Bausch Health Companies Inc 5.25% 30-JAN-2030,071734AJ
32878715,3157350,2021/11/30,429,2021/12/21,0.11,25000.0,21484.00,Bausch Health Companies Inc 5% 15-FEB-2029,071734AM
32878716,3157350,2021/11/30,431,2021/12/21,0.10,25000.0,19187.38,Endo DAC 6% 30-JUN-2028,29273DAC
32878717,3157350,2021/11/30,432,2021/12/21,0.08,25000.0,14971.88,PBF Holding Company LLC 6% 15-FEB-2028,69318FAJ

In [6]:
df.tail(10)

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
32878708,3157350,2021/11/30,423,2021/12/21,0.12,25000.0,22810.50,Staples Inc 10.75% 15-APR-2027,855030AP
32878709,3157350,2021/11/30,424,2021/12/21,0.12,25000.0,22726.50,Sinclair Television Group Inc 4.125% 01-DEC-2030,829259BA
32878710,3157350,2021/11/30,425,2021/12/21,0.12,25000.0,22700.00,Bausch Health Companies Inc 6.25% 15-FEB-2029,071734AK
32878711,3157350,2021/11/30,426,2021/12/21,0.11,25000.0,22685.13,Sinclair Television Group Inc 5.5% 01-MAR-2030,829259AY
32878712,3157350,2021/11/30,427,2021/12/21,0.11,25000.0,22561.75,Service Properties Trust 4.375% 15-FEB-2030,44106MAY
32878713,3157350,2021/11/30,428,2021/12/21,0.11,25000.0,22294.75,Bausch Health Companies Inc 5% 30-JAN-2028,071734AH
32878714,3157350,2021/11/30,429,2021/12/21,0.11,25000.0,21480.50,Bausch Health Companies Inc 5.25% 30-JAN-2030,071734AJ
32878715,3157350,2021/11/30,429,2021/12/21,0.11,25000.0,21484.00,Bausch Health Companies Inc 5% 15-FEB-2029,071734AM
32878716,3157350,2021/11/30,431,2021/12/21,0.10,25000.0,19187.38,Endo DAC 6% 30-JUN-2028,29273DAC
32878717,3157350,2021/11/30,432,2021/12/21,0.08,25000.0,14971.88,PBF Holding Company LLC 6% 15-FEB-2028,69318FAJ

In [7]:
df[500:600]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
500,2998821,2020/11/30,3,2021/01/08,2.74,585810.0,47204569.80,ENCOMPASS HEALTH CORP,29261A10
501,2998821,2020/11/30,4,2021/01/08,2.73,1019787.0,46950993.48,JOHNSON CONTROLS INTL PLC,G5150210
502,2998821,2020/11/30,5,2021/01/08,2.71,1645462.0,46599483.84,TAPESTRY INC,87603010
503,2998821,2020/11/30,6,2021/01/08,2.60,883918.0,44726250.80,KIRBY CORP,49726610
504,2998821,2020/11/30,7,2021/01/08,2.57,988193.0,44271046.40,CIENA CORP,17177930
...,...,...,...,...,...,...,...,...,...
595,3000255,2020/11/30,41,2021/01/08,0.39,77958.0,3099610.08,DUCK CREEK TECHNOLOGIES INC,26412010
596,3000255,2020/11/30,42,2021/01/08,0.32,40808.0,2500102.12,Avidxchange Inc PFD,NaN
597,3000255,2020/11/30,43,2021/01/08,0.29,250000.0,2250000.00,Sweetgreen Inc Ser D,NaN
598,3000255,2020/11/30,44,2021/01/08,0.25,20353.0,1974648.06,TAIWAN SEMICONDUCTOR MFG CO LTD,87403910
599,3000255,2020/11/30,45,2021/01/08,0.25,30575.0,1941818.25,T J X COMPANIES INC NEW,87254010

In [8]:
df.loc[[1, 3, 5, 7], 'portno':'nbr_shares']

    portno   report_dt  security_rank      eff_dt  percent_tna  nbr_shares
1  2998623  2020/11/30              2  2021/01/08         1.98   3087680.0
3  2998623  2020/11/30              4  2021/01/08         1.75   2815186.0
5  2998623  2020/11/30              6  2021/01/08         1.64    866386.0
7  2998623  2020/11/30              8  2021/01/08         1.60   5045923.0

In [9]:
df.iloc[[1, 3, 5, 7], 2:5]

   security_rank      eff_dt  percent_tna
1              2  2021/01/08         1.98
3              4  2021/01/08         1.75
5              6  2021/01/08         1.64
7              8  2021/01/08         1.60

In [10]:
df.dtypes

portno            object
report_dt         object
security_rank      int64
eff_dt            object
percent_tna      float64
nbr_shares       float64
market_val       float64
security_name     object
cusip             object
dtype: object

In [11]:
df["portno"].dtype

dtype('O')

In [12]:
df.portno

0           2998623
1           2998623
2           2998623
3           2998623
4           2998623
             ...
32878713    3157350
32878714    3157350
32878715    3157350
32878716    3157350
32878717    3157350
Name: portno, Length: 32878718, dtype: object

In [13]:
df["portno"].unique()

array(['2998623', '2998638', '2998809', ..., '3157332', '315733e',
       '3157350'], dtype=object)

In [14]:
df["portno"].unique().__len__()

11920

In [15]:
df["nbr_shares"].mean()

41548315.25043799

In [16]:
# df["portno"].mean()

In [17]:
# df.mean()

In [18]:
df["portno"].value_counts()

3066654    223027
3086928    185325
306841b    181445
3100110    127403
306920d    120721
            ...
3092553         1
3069210         1
3065319         1
3077046         1
3078942         1
Name: portno, Length: 11920, dtype: int64

In [19]:
'''
select portno, count(portno) from holding group by portno;
'''

'\nselect portno, count(portno) from holding group by portno;\n'

In [21]:
filter_3066654 = df["portno"] == '3066654'
filter_3066654

0           False
1           False
2           False
3           False
4           False
            ...
32878713    False
32878714    False
32878715    False
32878716    False
32878717    False
Name: portno, Length: 32878718, dtype: bool

In [22]:
df[filter_3066654]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
192449,3066654,2020/11/30,6311,2021/01/08,0.00,8.588000e+06,8.029780e+06,Nov Inc 3.95% 01-DEC-2042,637071AK
192450,3066654,2020/11/30,8263,2021/01/08,0.00,5.025000e+06,5.094094e+06,Nov Inc 3.6% 01-DEC-2029,637071AM
192451,3066654,2020/11/30,10658,2021/01/08,0.00,1.600000e+06,1.712080e+06,MORGAN STANLEY BK AMER MERRILL LYNCH TR 2014-C...,61690GAJ
1751741,3066654,2020/12/31,2,2021/01/22,0.71,2.126420e+09,2.131736e+09,United States of America (Government) .25% 15-...,912828ZU
1751742,3066654,2020/12/31,4,2021/01/22,0.45,1.343651e+09,1.343651e+09,United States of America (Government) .125% 30...,91282CAX
...,...,...,...,...,...,...,...,...,...
31917974,3066654,2021/11/30,13747,2021/12/21,0.00,2.302000e+03,2.465860e+03,Fannie Mae 01-FEB-2047 AS9600,3138WKU2
31917975,3066654,2021/11/30,13747,2021/12/21,0.00,1.161090e+05,1.255424e+05,Freddie Mac 01-SEP-2047 G08780,3128MJ2N
31917976,3066654,2021/11/30,13747,2021/12/21,0.00,1.231570e+05,1.392938e+05,Gvt Ntl Mrtg Asn 15-JUN-2047 AY0512,36196PR9
31917977,3066654,2021/11/30,13747,2021/12/21,0.00,1.417430e+05,1.541423e+05,Freddie Mac 01-JUL-2047 Q49494,3132WPRQ
31917978,3066654,2021/11/30,13747,2021/12/21,0.00,3.987100e+04,4.184815e+04,Fannie Mae 01-JUL-2032 BH4554,3140GTBY

In [23]:
filter_portno_3066654 = df["portno"] == '3066654'
filter_effdt_20210122 = df["eff_dt"] == '2021/01/22'

In [24]:
df[filter_portno_3066654 & filter_effdt_20210122]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
1751741,3066654,2020/12/31,2,2021/01/22,0.71,2.126420e+09,2.131736e+09,United States of America (Government) .25% 15-...,912828ZU
1751742,3066654,2020/12/31,4,2021/01/22,0.45,1.343651e+09,1.343651e+09,United States of America (Government) .125% 30...,91282CAX
1751743,3066654,2020/12/31,5,2021/01/22,0.43,1.323619e+09,1.290118e+09,United States of America (Government) .625% 15...,91282CAE
1751744,3066654,2020/12/31,6,2021/01/22,0.42,1.400882e+09,1.269984e+09,United States of America (Government) 1.25% 15...,912810SN
1751745,3066654,2020/12/31,7,2021/01/22,0.40,1.131470e+09,1.218808e+09,United States of America (Government) 2% 15-AU...,912828K7
...,...,...,...,...,...,...,...,...,...
1763035,3066654,2020/12/31,13481,2021/01/22,0.00,1.100000e+05,1.255331e+05,Loews Corp 3.75% 01-APR-2026,540424AS
1763036,3066654,2020/12/31,13481,2021/01/22,0.00,1.000000e+05,1.017460e+05,Gilead Sciences Inc 1.95% 01-MAR-2022,375558BH
1763037,3066654,2020/12/31,13481,2021/01/22,0.00,1.000000e+05,1.094180e+05,Raytheon Technologies Corp 2.650% 01-Nov-2026,913017CH
1763038,3066654,2020/12/31,13481,2021/01/22,0.00,1.000000e+05,1.471670e+05,Microsoft Corp 4.5% 06-FEB-2057,594918CB
1763039,3066654,2020/12/31,13481,2021/01/22,0.00,5.000000e+04,6.236200e+04,Commonwealth Bank of Australia 3.9% 12-JUL-2047,2027A0JN

In [25]:
df[filter_portno_3066654 & filter_effdt_20210122].describe()

       security_rank   percent_tna    nbr_shares    market_val
count   11299.000000  11299.000000  1.129900e+04  1.129900e+04
mean     7030.397823      0.006570  2.001895e+07  2.220454e+07
std      4208.051049      0.029295  8.223599e+07  8.745057e+07
min         2.000000      0.000000  0.000000e+00  8.000000e-02
25%      3378.000000      0.000000  1.688541e+06  1.869749e+06
50%      6814.000000      0.000000  6.381000e+06  7.306780e+06
75%     10648.000000      0.010000  1.370250e+07  1.555783e+07
max     13481.000000      0.710000  2.126420e+09  2.131736e+09

In [27]:
df.groupby("portno").size()

portno
2998623    4155
2998638     929
2998809     862
2998821     629
2998923     420
           ...
315733b      16
315733e     363
3157347       5
315734a       3
3157350     428
Length: 11920, dtype: int64

In [29]:
df.groupby(["portno", "eff_dt"]).size()

portno   eff_dt
2998623  2021/01/08    351
         2021/02/05    349
         2021/02/19      1
         2021/03/08     86
         2021/03/23    260
                      ...
315733b  2021/12/07     16
315733e  2021/12/21    363
3157347  2021/12/07      5
315734a  2021/12/07      3
3157350  2021/12/21    428
Length: 154098, dtype: int64

In [30]:
df.groupby(["portno", "eff_dt"]).sum()

/var/folders/bv/8bbkzq895db366kq27vw262r0000gn/T/ipykernel_47530/3739055544.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(["portno", "eff_dt"]).sum()

                    security_rank  percent_tna    nbr_shares    market_val
portno  eff_dt
2998623 2021/01/08          61888        99.79  3.817768e+09  1.213476e+10
        2021/02/05          61472        99.20  3.864276e+09  1.226047e+10
        2021/02/19             72         0.56  3.054300e+07  6.951946e+07
        2021/03/08           6384        70.69  9.649015e+08  8.516031e+09
        2021/03/23          53751        29.08  2.971574e+09  3.517922e+09
...                           ...          ...           ...           ...
315733b 2021/12/07            137        99.73  1.783122e+07  2.601732e+07
315733e 2021/12/21          66053       525.90  2.659001e+08  2.762602e+08
3157347 2021/12/07             19        55.06  6.300062e+06  6.299271e+06
315734a 2021/12/07              6       148.11  5.402436e+06  1.525456e+07
3157350 2021/12/21          92037        99.55  1.927648e+07  1.964126e+07

[154098 rows x 4 columns]